/* medida de celular */
@media(min-width:320px) and (max-width:575px){
body{
    padding-top: 0px;
}
.header{
    height: auto;
}
.main{
    &_subtitulo{
        padding: 40px;
    }
    &_tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "card1" 
                            "card2" 
                            "card3"
                            "card4"
                            "card5"
                            "card6"
                            "card7" 
                            "card8"
                            "card9";
    }
    &_card{
        padding: 2px;
        margin: 10px;
    }
    &_card-img{
        margin: 10px;
    }
    &_card-img2{
        margin: 10px;
    }
}
.boton_productos{
    margin: 8px;
}
.boton_contacto{
    height: 40px;
    width: 180px;
}
.galeria_grid{
    width: 95vw;
    height:90vh;
    padding: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:"galeria-1"
                        "galeria-2"
                        "galeria-3"
                        "galeria-4"
                        "galeria-5"
                        "galeria-6"
                        "galeria-7";
}
.imagen-conteiner{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "preguntas"  
                        "img1"
                        "img2";
}
.footer{
    display: grid;
    grid-template-areas:"indice"
                        "informacion"
                        "redes"
                        "derechos";
            &__informacion{
                grid-area: informacion;
                text-align: center;
                }
            &__indice{
                grid-area: indice;
                text-align: center;
                }
}
}

/* media de tablet */
@media (min-width: 576px) and (max-width: 992px) {

.header{
    height: auto;
}

.galeria_grid{
    width: 95vw;
    height: 90vh;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:"galeria-1 galeria-2"
                        "galeria-3 galeria-4"
                        "galeria-5 galeria-6"
                        "galeria-5 galeria-7";
}
.main{
    &_tarjetas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  auto;
        grid-template-areas:"card1 card2" 
                            "card3 card4"
                            "card5 card6"
                            "card7 card8"
                            "card9 none";
    }
    &_card{
        padding: 2px;
        margin: 10px;
    }
    &_card-img{
        margin: 10px;
    }
    &_card-img2{
        margin: 10px;
    }
    &_letra{
        margin: 25px;
    }
}

.boton_productos{
    margin: 8px;
}

}