/* medida de celular */
@media(min-width:320px) and (max-width:575px){

.main_subtitulo{
    padding: 40px;
}
.main_tarjetas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "card1" 
                        "card2" 
                        "card3"
                        "card4"
                        "card5"
                        "card6"
                        "card7" 
                        "card8"
                        "card9";
}

body{
    padding-top: 70px;
}
.header{
    height: 60px;
}
.galeria_grid{
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:"galeria-1"
                        "galeria-2"
                        "galeria-3"
                        "galeria-4"
                        "galeria-5"
                        "galeria-6"
                        "galeria-7";
}


.footer{
    display: grid;
    grid-template-areas:"indice"
                        "informacion"
                        "redes"
                        "derechos";
            &__informacion{
                grid-area: informacion;
                text-align: center;
                }
            &__indice{
                grid-area: indice;
                text-align: center;
                }
}

}

/* media de tablet */
@media (min-width: 576px) and (max-width: 992px) {
    
.header{
    height: 100px;
}

.galeria_grid{
    height: 200vh;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"galeria-1 galeria-1 galeria-2"
                        "galeria-3 galeria-4 galeria-5"
                        "galeria-6 galeria-6 galeria-7";
}
}