/* colores */
$footer_color:#f999b7;
$fondo_nav-titulo:#f2789f;
$color-boton-form:#f999b7;
$color-preguntas:#f999b7;
$color-respuesta:#f9c5d5;
$logo-nav:#faedf2;
$fondo:#fff6f9;

/* funetes */
$fuente: 'Montserrat', sans-serif;
