/* paginas/contacto */
/* contacto */

.form{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    &_contenedor{
        background-color: #ffff;
        margin: auto;
        width: 90%;
        max-width: 400px;
        padding: 4.5em 3em;
        border-radius: 15px;
        box-shadow: 0px 5px 10px -5px rgb(0, 0, 0/ 100%);
        .mensajeria{
            font-size: 20px;
        }
        .label{
            display: inline-block;
            width: 80px;
        
        }
        .label_{
            display: inline-block;
            width: 100px;
        
        }
    }
    &_input{
        border: none;
        outline: none;
        border-bottom: 1px solid palevioletred;
        color: #f999b7;
    }
}



.boton_contacto{
    height: 40px;
    width: 280px;
    margin: 10px;
    font-size:15px;
    border-radius: 10px;
    background-color:#f999b7;
    border: none;
    &:hover{
        background-color: #f7dae3;
        transform: scale(1.10,1.10);
    }
}

