/* index */

.main{
    background-color: #fff6f9;
    &_titulo{
        background-color: $fondo_nav-titulo;
        color: black;
        
        font-size: 15px;
        @extend .centrado;
    }
    &_index{
        padding: 16px;
        margin: 10px;
    }
    &_subtitulo{
        @extend .centrado;
        font-size: 40px;
        color: $fondo_nav-titulo;
    }
}



